<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">com.mysql.jdbc.Driver</property>
		<property name="connection.url">jdbc:mysql://ego.kie.ue.poznan.pl:8080/aw_new</property>
		<property name="connection.username">root</property>
		<property name="connection.password">3go.vir.id.1</property>
		<property name="connection.characterEncoding">utf8</property>

		<!-- JDBC connection pool (use the built-in) -->
		<property name="connection.pool_size">1</property>

		<!-- SQL dialect -->
		<property name="dialect">org.hibernate.dialect.MySQLDialect</property>

		<!-- Enable Hibernate's automatic session context management -->
		<property name="current_session_context_class">thread</property>

		<!-- Disable the second-level cache -->
		<property name="cache.provider_class">org.hibernate.cache.NoCacheProvider</property>

		<!-- Echo all executed SQL to stdout -->
		<property name="show_sql">false</property>

		<property name="hbm2ddl.auto">validate</property>

		<mapping class="aw.beans.awnew.AdditionalParameters" />
		<mapping class="aw.beans.awnew.Address" />
		<mapping class="aw.beans.awnew.Contact" />
		<mapping class="aw.beans.awnew.ContactType" />
		<mapping class="aw.beans.awnew.Company" />
		<mapping class="aw.beans.awnew.Company2InsuranceCompany" />
		<mapping class="aw.beans.awnew.Company2Address" />
		<mapping class="aw.beans.awnew.PersonType" />
		<mapping class="aw.beans.awnew.Person" />
		<mapping class="aw.beans.awnew.Person2Company" />
		<mapping class="aw.beans.awnew.InsuranceCompany" />

		<!-- aw old <mapping class="aw.beans.Company" /> <mapping class="aw.beans.old.PersonType" 
			/> <mapping class="aw.beans.old.Person" /> <mapping class="aw.beans.old.AdditionalParameters" 
			/> <mapping class="aw.beans.old.Address" /> <mapping class="aw.beans.old.Contact" 
			/> <mapping class="aw.beans.old.ContactType" /> <mapping class="aw.beans.old.InsuranceCompany" 
			/> <mapping class="aw.beans.old.Person2Address" /> <mapping class="aw.beans.old.Person2Contact" 
			/> <mapping class="aw.beans.old.Person2InsuranceCompany" /> <mapping class="aw.beans.old.Person2Company" 
			/> <mapping class="aw.beans.old.Company2Address" /> <mapping class="aw.beans.old.Company2Contact" 
			/> -->
	</session-factory>
</hibernate-configuration>